<link href="assets/img/favicon.png" rel="icon" />
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

<link href="https://fonts.gstatic.com" rel="preconnect" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet"
/>

<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
    >
      <mat-icon id="icon">menu</mat-icon>
    </button>
    <a href="index.html" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">FAB Car</span>
    </a>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          data-bs-toggle="dropdown"
        >
          <button
            class="d-none d-md-block ps-2 nav-link nav-profile d-flex align-items-center pe-0"
            [routerLink]="['passenger-profile']"
          >
            My profile-passenger
          </button>
          <button
            class="d-none d-md-block ps-2 nav-link nav-profile d-flex align-items-center pe-0"
            [routerLink]="['driver-profile']"
          >
            My profile-driver
          </button>
          <button
            class="d-none d-md-block ps-2 nav-link nav-profile d-flex align-items-center pe-0"
            [routerLink]="['admin-profile']"
          >
            My profile-admin
          </button>
          <button
            class="d-none d-md-block ps-2 nav-link nav-profile d-flex align-items-center pe-0"
            [routerLink]="['map-unregistered']"
          >
            SignOut
          </button>

          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <span
              (mouseleave)="menuTrigger.closeMenu()"
              id="sidebar"
              class="sidebar"
            >
              <div>PASSENGER</div>
              <button mat-menu-item [routerLink]="['/current-drive-passenger']">
                <span>Current drive</span>
              </button>
              <button mat-menu-item [routerLink]="['/map']">
                <span>Find route</span>
              </button>
              <button mat-menu-item [routerLink]="['/history-passenger']">
                <span>Ride history</span>
              </button>
              <button mat-menu-item [routerLink]="['/reports']">
                <span>Reports</span>
              </button>
              <div>DRIVER</div>
              <button mat-menu-item [routerLink]="['/current-drive-driver']">
                <span>Current drive</span>
              </button>
              <button mat-menu-item [routerLink]="['/history-driver']">
                <span>Ride history</span>
              </button>
              <button mat-menu-item [routerLink]="['/reports']">
                <span>Reports</span>
              </button>
              <button mat-menu-item [routerLink]="['/reports']">
                <span>Statistics</span>
              </button>
              <div>ADMINISTRATOR</div>
              <button mat-menu-item [routerLink]="['/map-admin']">
                <span>Map</span>
              </button>
              <button mat-menu-item [routerLink]="['/add-driver']">
                <span>Add driver</span>
              </button>
              <button mat-menu-item [routerLink]="['/reports']">
                <span>Requests</span>
              </button>
              <button mat-menu-item [routerLink]="['/reports']">
                <span>Rides and reports</span>
              </button>
            </span>
          </mat-menu>
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- End Header -->
