<mat-toolbar id="toolbar">
  <span class="toolbar-content">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
    >
      <mat-icon id="icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item [routerLink]="['/login']">
          <span>LogIn</span>
        </button>
        <button mat-menu-item [routerLink]="['/registration']">
          <span>SignUp</span>
        </button>
        <button mat-menu-item [routerLink]="['/map']">
          <span>Map for registered</span>
        </button>
        <button mat-menu-item [routerLink]="['/map-unregistered']">
          <span>Map for unregistered</span>
        </button>
      </span>
    </mat-menu>
  </span>
  <span class="toolbar-content" id="title">FAB CAR</span>
</mat-toolbar>
