<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <h1>Route details</h1>
      <form>
        <div class="row" style="margin-top: 4vh">
          <div class="row border2" style="margin-top: 4vh">
            <h2>Pessanger's information</h2>

            <div>
              <div class="row" style="padding-left: 5%">
                <div class="row" style="width: 50%">Name:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Last name:</div>
                <div class="row" style="width: 50%">last name</div>
                <div class="row" style="width: 50%">Phone:</div>
                <div class="row" style="width: 50%">0652780029</div>
                <div class="row" style="width: 50%">Email:</div>
                <div class="row" style="width: 50%">name@gmail.com</div>
                <div class="row" style="width: 50%">Address:</div>
                <div class="row" style="width: 50%">Jug Bogdana 16</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row border2" style="margin-top: 6vh">
          <h2>Driver's information</h2>

          <div>
            <div class="row" style="padding-left: 5%">
              <div class="row" style="width: 50%">Name:</div>
              <div class="row" style="width: 50%">name</div>
              <div class="row" style="width: 50%">Last name:</div>
              <div class="row" style="width: 50%">last name</div>
              <div class="row" style="width: 50%">Phone:</div>
              <div class="row" style="width: 50%">0652780029</div>
              <div class="row" style="width: 50%">Email:</div>
              <div class="row" style="width: 50%">name@gmail.com</div>
              <div class="row" style="width: 50%">Car type:</div>
              <div class="row" style="width: 50%">BMWX6</div>
              <div class="row" style="width: 50%">Pets allowed:</div>
              <div class="row" style="width: 50%">no</div>
              <div class="row" style="width: 50%">Babies allowed:</div>
              <div class="row" style="width: 50%">yes</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
