<div id="bg">
  <div id="containter">
    <div id="registration_title">

        <div class="row border2" style="margin-top: 4vh">
          <h1>Current ride info</h1>

          <div>
            <div class="row" style="padding-left: 5%">
              <div class="row" style="width: 50%">From:</div>
              <div class="row" style="width: 50%">{{activeRide.departure.address}}</div>
              <div class="row" style="width: 50%">To:</div>
              <div class="row" style="width: 50%">{{activeRide.destination.address}}</div>
              <div class="row" style="width: 50%">Scheduled time:</div>
              <div class="row" style="width: 50%">{{activeRide.scheduledTime}}</div>
              <div class="row" style="width: 50%">Estimated time:</div>
              <div class="row" style="width: 50%">{{activeRide.estimatedTimeInMinutes}} minutes</div>
              <div class="row" style="width: 50%">Driver:</div>
              <div class="row" style="width: 50%">{{activeRide.driverEmail}}</div>
              <div class="row" style="width: 50%">Babies allowed:</div>
              <div class="row" style="width: 50%">{{activeRide.babies}}</div>
              <div class="row" style="width: 50%">Pets allowed:</div>
              <div class="row" style="width: 50%">{{activeRide.pets}}</div>
              <div class="row" style="width: 50%">Vehicle type:</div>
              <div class="row" style="width: 50%">{{activeRide.vehicleType}}</div>
            </div>
          </div>
        </div>
    </div>
    <form [formGroup]="panicForm" (ngSubmit)="panic()">
      <input type="text" formControlName="reason" placeholder="Panic reason"
      style="
        width: 70%;
        margin: 15%;
        margin-top: 5vh;
      ">
      <button
      style="
        width: 70%;
        margin: 15%;
        background-color: red;
        color: white;
      "
      type="submit"
    >
      PANIC
    </button>
    </form>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
