<div class="bg">
  <div id="profile-container">
    <div id="profile-picture"></div>
    <br />
    <a class="col-sm-6">Change photo</a>
    <h1 style="margin-top: 5vh">My profile</h1>
    <div id="profile-info">
      <form>
        <fieldset>
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" value="Pera" />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" value="Peric" />
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control"
              value="pera.peric@gmail.com"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" value="pera123" />
          </div>
          <div class="form-group">
            <button class="btn" id="save-btn">Save</button>
            <button class="btn" id="cancel-btn" type="reset" value="reset">
              Cancel
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
