.bg {
  height: 92vh;
  background: url("../../../assets/images/carFAB.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

#profile-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  float: left;
  width: 40vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2%;
  text-align: center;
}

#car-info-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  float: left;
  width: 40vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2%;
}

#profile-picture {
  margin-top: 5vh;
  height: 200px;
  width: 200px;
  display: inline-block;
  background: url("../../../assets/images/profile-picture.png");
}

#car-picture {
  margin-top: 2vh;
  height: 220px;
  width: 280px;
  display: inline-block;
  background: url("../../../assets/images/car-image.jpeg");
}

#profile-container h1 {
  font-size: 40px;
}

/* .form-control {
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 2px solid black;
  }
  
  label{
      float: left;
  } */

#profile-info {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  text-align: center;
}
label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  margin-right: 15px;
  float: left;
}
input {
  height: 35px;
  width: 400px;
  border: 1px solid #000;
  margin-top: 10px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  background: transparent;
}

.btn {
  margin: 20px;
  width: 150px;
}

#save-btn {
  background-color: #805d84;
  color: white;
}

#cancel-btn {
  background-color: white;
  color: #805d84;
  outline-color: #805d84;
}

#car-info-container h1 {
  text-align: left;
  font-size: 35px;
  padding: 20px;
  padding-bottom: 0%;
}

#car-info-container hr {
  margin: none;
}
