<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <div>
        <h1 style="width: 100%">Ride history</h1>
      </div>
      <button
        class="btn row"
        id="favorites"
        [routerLink]="['/favorites-passenger']"
      >
        Favorites
      </button>
      <button class="btn row" id="report" [routerLink]="['/report']">
        Make report
      </button>
      <form
        style="
          width: 100%;
          height: 80vh;
          line-height: 3em;
          overflow: scroll;
          padding: 2px;
        "
      >
        <div
          class="row"
          style="width: 90%; margin-left: 5%; margin-bottom: 15px"
        >
          <table>
            <tbody *ngFor="let rides of this.taskArray">
              <tr>
                <td>
                  <div class="row border">
                    <div>
                      <div class="row" style="line-height: 2">
                        <div class="row" style="width: 20%">Start:</div>
                        <div class="row" style="width: 20%">
                          {{ rides.column1.startTime }}
                        </div>
                        <div class="row" style="width: 20%">End:</div>
                        <div class="row" style="width: 20%">
                          {{ rides.column1.endTime }}
                        </div>

                        <hr />
                        <div class="row" style="width: 50%">From:</div>
                        <div class="row" style="width: 50%">
                          <!-- {{ rides.column1.locations[0].departure.address }} -->
                        </div>
                        <div class="row" style="width: 50%">To:</div>
                        <div class="row" style="width: 50%">
                          <!-- {{ rides.column1.locations[0].destination.address }} -->
                        </div>
                        <div class="row" style="width: 50%">Passenger:</div>
                        <div class="row" style="width: 50%">
                          {{ rides.column1.passengers[0].email }}
                        </div>
                        <div class="row" style="width: 50%">Driver:</div>
                        <div class="row" style="width: 50%">
                          {{ rides.column1.driver.email }}
                        </div>

                        <hr />

                        <div
                          class="form-group"
                          style="display: inline-block; padding: 0"
                        >
                          <button
                            class="btn row"
                            id="cancel-btn"
                            style="width: 30%"
                          >
                            Add to favorites
                          </button>
                          <button
                            class="btn row"
                            id="cancel-btn"
                            style="width: 30%"
                            [routerLink]="['/ride-details']"
                          >
                            Details
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
