<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <div class="row">
        <h1 style="width: 50%">Ride history</h1>
        <button
          class="btn row"
          id="cancel-btn"
          style="width: 25%"
          [routerLink]="['/favorites-passenger']"
        >
          Favorites
        </button>
        <button
          class="btn row"
          id="cancel-btn"
          style="width: 25%"
          [routerLink]="['/reports']"
        >
          Make report
        </button>
      </div>
      <form
        style="
          width: 100%;
          height: 80vh;
          line-height: 3em;
          overflow: scroll;
          padding: 2px;
        "
      >
        <div class="row" style="margin-top: 4vh">
          <div class="row border" style="margin-top: 4vh">
            <div>
              <div class="row" style="padding-left: 5%">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17min</div>
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Address:</div>
                <div class="row" style="width: 50%">Jug Bogdana 16</div>
                <div class="row" style="width: 50%; margin-top: 10%">
                  Give your rate:
                </div>
                <div class="row stars">
                  <form action="">
                    <input
                      class="star star-5"
                      id="star-5"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-5" for="star-5"></label>
                    <input
                      class="star star-4"
                      id="star-4"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-4" for="star-4"></label>
                    <input
                      class="star star-3"
                      id="star-3"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-3" for="star-3"></label>
                    <input
                      class="star star-2"
                      id="star-2"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-2" for="star-2"></label>
                    <input
                      class="star star-1"
                      id="star-1"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
                <div class="form-group" style="display: inline-block">
                  <button class="btn row" id="save-btn" style="width: 50%">
                    Message driver
                  </button>
                  <button class="btn row" id="cancel-btn" style="width: 50%">
                    Add to favorites
                  </button>
                  <button class="btn row" id="cancel-btn">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 4vh">
          <div class="row border" style="margin-top: 4vh">
            <div>
              <div class="row" style="padding-left: 5%">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17min</div>
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Address:</div>
                <div class="row" style="width: 50%">Jug Bogdana 16</div>
                <div class="row" style="width: 50%; margin-top: 10%">
                  Very nice driver
                </div>
                <div class="row stars">
                  <form action="">
                    <input
                      class="star star-5"
                      id="star-5"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-5" for="star-5"></label>
                    <input
                      class="star star-4"
                      id="star-4"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-4" for="star-4"></label>
                    <input
                      class="star star-3"
                      id="star-3"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-3" for="star-3"></label>
                    <input
                      class="star star-2"
                      id="star-2"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-2" for="star-2"></label>
                    <input
                      class="star star-1"
                      id="star-1"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
                <div class="form-group" style="display: inline-block">
                  <button class="btn row" id="save-btn" style="width: 50%">
                    Message driver
                  </button>
                  <button class="btn row" id="cancel-btn" style="width: 50%">
                    Add to favorites
                  </button>
                  <button class="btn row" id="cancel-btn">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 4vh">
          <div class="row border" style="margin-top: 4vh">
            <div>
              <div class="row" style="padding-left: 5%">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17min</div>
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Address:</div>
                <div class="row" style="width: 50%">Jug Bogdana 16</div>
                <div class="row stars">
                  <form action="">
                    <input
                      class="star star-5"
                      id="star-5"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-5" for="star-5"></label>
                    <input
                      class="star star-4"
                      id="star-4"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-4" for="star-4"></label>
                    <input
                      class="star star-3"
                      id="star-3"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-3" for="star-3"></label>
                    <input
                      class="star star-2"
                      id="star-2"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-2" for="star-2"></label>
                    <input
                      class="star star-1"
                      id="star-1"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
                <div class="form-group" style="display: inline-block">
                  <button class="btn row" id="save-btn" style="width: 50%">
                    Message driver
                  </button>
                  <button class="btn row" id="save-btn" style="width: 50%">
                    Favorites
                  </button>
                  <button class="btn row" id="cancel-btn">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
