form {
  margin: 30px;
}

#bg {
  height: 100vh;
  background: url("../../../assets/images/carFAB.jpg") no-repeat center center
    fixed;
  background-size: cover;
  position: relative;
}

#containter {
  position: absolute;
  float: left;
  width: 50vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

#registrationButton {
  color: white;
  background-color: #805d84;
  margin-top: 30px;
  border: 0;
  text-decoration: double;
}

#registration_title {
  text-align: center;
  padding: 40px;
}

#registration_title h1 {
  font-size: 40px;
}

#registration_title p {
  padding: 10px;
  font-size: 20px;
}
