<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <div class="row">
        <h1 style="width: 100%">Favorites</h1>
      </div>
      <button
        class="btn row"
        id="cancel-btn"
        style="width: 50%"
        [routerLink]="['/history-passenger']"
      >
        All rides
      </button>
      <form
        style="
          width: 100%;
          height: 80vh;
          line-height: 3em;
          overflow: scroll;
          padding: 2px;
        "
      >
        <div
          class="row"
          style="width: 90%; margin-left: 5%; margin-bottom: 15px"
        >
          <div class="row border">
            <div>
              <div class="row" style="line-height: 2">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17min</div>

                <hr />
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Address:</div>
                <div class="row" style="width: 50%">Jug Bogdana 16</div>

                <hr />
                <div class="row" style="width: 50%; font-size: small">
                  Give your rate:
                </div>
                <div class="row stars">
                  <form action="" style="margin: 0">
                    <input
                      class="star star-5"
                      id="star-5"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-5" for="star-5"></label>
                    <input
                      class="star star-4"
                      id="star-4"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-4" for="star-4"></label>
                    <input
                      class="star star-3"
                      id="star-3"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-3" for="star-3"></label>
                    <input
                      class="star star-2"
                      id="star-2"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-2" for="star-2"></label>
                    <input
                      class="star star-1"
                      id="star-1"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
                <div
                  class="form-group"
                  style="display: inline-block; padding: 0"
                >
                  <button class="btn row" id="cancel-btn" style="width: 50%">
                    Add to favorites
                  </button>
                  <button class="btn row" id="cancel-btn" style="width: 50%">
                    Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="width: 90%; margin-left: 5%; margin-bottom: 15px"
        >
          <div class="row border">
            <div>
              <div class="row" style="line-height: 2">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17min</div>

                <hr />
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Address:</div>
                <div class="row" style="width: 50%">Jug Bogdana 16</div>

                <hr />
                <div class="row" style="width: 50%; font-size: small">
                  Very nice car and music!
                </div>
                <div class="row stars">
                  <form action="" style="margin: 0">
                    <input
                      class="star star-5"
                      id="star-5"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-5" for="star-5"></label>
                    <input
                      class="star star-4"
                      id="star-4"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-4" for="star-4"></label>
                    <input
                      class="star star-3"
                      id="star-3"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-3" for="star-3"></label>
                    <input
                      class="star star-2"
                      id="star-2"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-2" for="star-2"></label>
                    <input
                      class="star star-1"
                      id="star-1"
                      type="radio"
                      name="star"
                    />
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
                <div
                  class="form-group"
                  style="display: inline-block; padding: 0"
                >
                  <button class="btn row" id="cancel-btn" style="width: 50%">
                    Add to favorites
                  </button>
                  <button class="btn row" id="cancel-btn" style="width: 50%">
                    Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
