<div class="bg">
  <div id="profile-container">
    <div id="profile-picture"></div>
    <br />
    <a class="col-sm-6" style="color: #805d84">Add photo</a>
    <h1 style="margin-top: 2vh">Add new driver</h1>
    <div id="profile-info">
      <form [formGroup]="addDriver" (ngSubmit)="addNewDriver()">
        <div class="form-group">
          <label for="name">First Name</label>
          <input
            formControlName="name"
            [ngClass]="{
              'is-invalid': submitted && addDriver.controls.name.errors
            }"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="submitted && addDriver.controls.name.errors"
            class="text-danger"
          >
            <div
              *ngIf="submitted && addDriver.controls.name.errors.required"
            >
              First Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Last Name</label>
          <input
            formControlName="surname"
            [ngClass]="{
              'is-invalid': submitted && addDriver.controls.surname.errors
            }"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="submitted && addDriver.controls.surname.errors"
            class="text-danger"
          >
            <div
              *ngIf="submitted && addDriver.controls.surname.errors.required"
            >
              Last Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="telephoneNumber">Telephone number</label>
          <input
            formControlName="telephoneNumber"
            [ngClass]="{
              'is-invalid': submitted && addDriver.controls.telephoneNumber.errors
            }"
            type="tel"
            pattern="[0-9]{10}"
            class="form-control"
          />
          <div
            *ngIf="submitted && addDriver.controls.telephoneNumber.errors"
            class="text-danger"
          >
            <div *ngIf="submitted && addDriver.controls.telephoneNumber.errors.required">
              Telephone number is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            formControlName="address"
            [ngClass]="{
              'is-invalid': submitted && addDriver.controls.address.errors
            }"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="submitted && addDriver.controls.address.errors"
            class="text-danger"
          >
            <div
              *ngIf="submitted && addDriver.controls.address.errors.required"
            >
              Address is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            [ngClass]="{
              'is-invalid': submitted && addDriver.controls.email.errors
            }"
            formControlName="email"
            type="email"
            class="form-control"
          />
          <div
            *ngIf="submitted && addDriver.controls.email.errors"
            class="text-danger"
          >
            <div *ngIf="submitted && addDriver.controls.email.errors.required">
              Email Address is required
            </div>
            <div
              *ngIf="f['email'].getError('email') != null"
              class="errormessage"
            >
              Email Address is not Valid
            </div>
            <div
              *ngIf="f['email'].getError('email') != null"
              class="errormessage"
            >
              Incorrect form
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            [ngClass]="{
              'is-invalid': submitted && addDriver.controls.password.errors
            }"
            formControlName="password"
            type="password"
            class="form-control"
          />
          <div
            *ngIf="submitted && addDriver.controls.password.errors"
            class="text-danger"
          >
            <div
              *ngIf="submitted && addDriver.controls.password.errors.required"
            >
              Password is required
            </div>
            <div
              *ngIf="f['password'].getError('minlength') != null"
              class="errormessage"
            >
              Password should be atleast 8 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button id="save-btn" class="btn form-control" type="submit">Save</button
          ><button
            id="cancel-btn"
            class="btn form-control"
            type="reset"
            value="reset"
          >
            Restore
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="car-info-container">
    <h1>Add new vehicle</h1>
    <hr />
    <form>
    <div class="row">
      <div class="col-sm-6" style="padding-top: 5%; padding-left: 5%">
        <div id="car-picture"></div>
        <a class="col-sm-6" style="margin-left: 30%; color: #805d84"
          >Change photo</a
        >
      </div>
      <form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()" class="col-sm-6">
        <div class="form-group">
          <label for="vehicleModel">Vehicle model</label>
          <input
            formControlName="model"
            type="text"
            class="form-control"
            style="width: 90%"
          />
        </div>
        <div class="form-group">
          <label for="vehicleType">Vehicle type</label>
          <select formControlName="type" name="type" class="form-control">
            <option value="VAN">Van</option>
            <option value="STANDARD">Standard</option>
            <option value="LUXURY">Luxury</option>
          </select>
        </div>
        <div class="form-group">
          <label for="licenseNumber">License number</label>
          <input
            formControlName="licenseNumber"
            type="text"
            class="form-control"
            style="width: 90%"
          />
        </div>
        <div class="form-group">
          <label for="seats">Number of seats</label>
          <input
            formControlName="seats"
            type="number"
            class="form-control"
            style="width: 90%"
          />
        </div>

        <input
          formControlName="babies"
          type="checkbox"
          id="babies"
          name="babies"
          style="width: 40%"
        />
        <label for="babies" style="width: 40%"> Babies allowed</label><br />
        <input
          formControlName="pets"
          type="checkbox"
          id="pets"
          name="pets"
          style="width: 40%"
        />
        <label for="pets" style="width: 40%"> Pets allowed</label><br />
        <div class="form-group">
          <button class="btn" id="save-btn" type="submit">Save</button>
        </div>
      </form>
    </div>
    </form>
    <hr />
  </div>
</div>
