<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <div>
        <h1 style="width: 100%">Incoming rides</h1>
      </div>
      <form
        style="
          width: 100%;
          height: 80vh;
          line-height: 3em;
          overflow: scroll;
          padding: 2px;
        "
      >
        <div
          class="row"
          style="width: 90%; margin-left: 5%; margin-bottom: 15px"
        >
          <div class="row border">
            <div>
              <div class="row" style="line-height: 2">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17:00</div>

                <hr />
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>

                <hr />
                <div
                  class="form-group"
                  style="display: inline-block; padding: 0"
                >
                  <!-- <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%"
                    [routerLink]="['/ride-details']"
                  >
                    Details
                  </button> -->
                  <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%; color: green"
                    [routerLink]="['/ride-details']"
                  >
                    Start ride
                  </button>
                  <!-- kad se klikne onda se current-drive promeni na ekran za voznju, a odavde (i kod putnika) se zakazana voznja obrise -->
                  <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%; color: red"
                    [routerLink]="['/ride-details']"
                  >
                    Decline
                  </button>
                  <!-- odavde (i kod putnika) se zakazana voznja obrise + iskoci prozor za obrazlozenje -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row"
          style="width: 90%; margin-left: 5%; margin-bottom: 15px"
        >
          <div class="row border">
            <div>
              <div class="row" style="line-height: 2">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">17:30</div>

                <hr />
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>

                <hr />
                <div
                  class="form-group"
                  style="display: inline-block; padding: 0"
                >
                  <!-- <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%"
                    [routerLink]="['/ride-details']"
                  >
                    Details
                  </button> -->
                  <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%; color: green"
                    [routerLink]="['/ride-details']"
                  >
                    Start ride
                  </button>
                  <!-- kad se klikne onda se current-drive promeni na ekran za voznju, a odavde (i kod putnika) se zakazana voznja obrise -->
                  <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%; color: red"
                    [routerLink]="['/ride-details']"
                  >
                    Decline
                  </button>
                  <!-- odavde (i kod putnika) se zakazana voznja obrise + iskoci prozor za obrazlozenje -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row"
          style="width: 90%; margin-left: 5%; margin-bottom: 15px"
        >
          <div class="row border">
            <div>
              <div class="row" style="line-height: 2">
                <div class="row" style="width: 50%">10.01.2023.</div>
                <div class="row" style="width: 50%">18:00</div>

                <hr />
                <div class="row" style="width: 50%">From:</div>
                <div class="row" style="width: 50%">adresa 1</div>
                <div class="row" style="width: 50%">To:</div>
                <div class="row" style="width: 50%">adresa 2</div>
                <div class="row" style="width: 50%">Passenger:</div>
                <div class="row" style="width: 50%">name</div>
                <div class="row" style="width: 50%">Driver:</div>
                <div class="row" style="width: 50%">name</div>

                <hr />
                <div
                  class="form-group"
                  style="display: inline-block; padding: 0"
                >
                  <!-- <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%"
                    [routerLink]="['/ride-details']"
                  >
                    Details
                  </button> -->
                  <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%; color: green"
                    [routerLink]="['/ride-details']"
                  >
                    Start ride
                  </button>
                  <!-- kad se klikne onda se current-drive promeni na ekran za voznju, a odavde (i kod putnika) se zakazana voznja obrise -->
                  <button
                    class="btn row"
                    id="cancel-btn"
                    style="width: 30%; color: red"
                    [routerLink]="['/ride-details']"
                  >
                    Decline
                  </button>
                  <!-- odavde (i kod putnika) se zakazana voznja obrise + iskoci prozor za obrazlozenje -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
