<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <h1>Find route</h1>
      <form>
        <div class="row">
          <form [formGroup]="routeForm" (ngSubmit)="route()">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="from"
                formControlName="from"
                placeholder="From"
                id="input"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="to"
                formControlName="to"
                placeholder="To"
                id="input"
              />
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between end">
              <button type="submit" mat-raised-button id="showRoute">
                Show route
              </button>
            </div>
            <div class="row" style="margin-top: 4vh">
              <div class="col-sm-6">Average time</div>

              <div class="col-sm-6">Price</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div type="text" class="form-control" style="color: gray">
                  Time
                </div>
              </div>

              <div class="col-sm-6">
                <div type="text" class="form-control" style="color: gray">
                  Price
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 4vh">
              <div class="form-group">
                <button
                  id="save-btn"
                  class="btn form-control"
                  [routerLink]="['/current-drive-driver']"
                >
                  Confirm
                </button>

                <button
                  id="cancel-btn"
                  class="btn form-control"
                  type="reset"
                  value="reset"
                >
                  Restore
                </button>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
