<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <h1 id="header">Find route</h1>
      <form>
        <div class="row">
          <form [formGroup]="routeForm" (ngSubmit)="getAssumption()">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="from"
                formControlName="from"
                placeholder="From"
                id="input"
                value="{{departure.address}}"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="to"
                formControlName="to"
                placeholder="To"
                id="input"
                value="{{destination.address}}"
              />
            </mat-form-field>
            <input
            formControlName="babies"
            type="checkbox"
            id="babies"
            style="width: 40%"
            />
            <label for="babies" style="width: 40%"> Babies allowed</label><br />
            <input
            formControlName="pets"
            type="checkbox"
            id="pets"
            style="width: 40%"
            />
            <label for="pets" style="width: 40%"> Pets allowed</label><br />
            <label for="vehicleType">Vehicle type</label>
              <select formControlName="type" name="type" class="form-control">
                <option value="VAN">Van</option>
                <option value="STANDARD">Standard</option>
                <option value="LUXURY">Luxury</option>
              </select>
            <div class="row" style="margin-top: 4vh">
              <div class="col-sm-6">Average time</div>

              <div class="col-sm-6">Price</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div type="text" class="form-control" style="color: gray">
                  {{estimatedValues.estimatedTimeInMinutes}}
                </div>
              </div>

              <div class="col-sm-6">
                <div type="text" class="form-control" style="color: gray">
                  {{estimatedValues.estimatedCost}}
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 4vh">
              <div class="form-group">
                <button
                  id="save-btn"
                  class="btn form-control"
                  type="submit"
                >
                  Calculate
                </button>

                <button
                  id="cancel-btn"
                  class="btn form-control"
                  type="reset"
                  value="reset"
                  (click)="restore()"
                >
                  Restore
                </button>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
