<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <h1>Route details</h1>
      <form>
        <div class="row">
          <div class="col-sm-6" style="width: 100%">
            <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">From</option>
              <option value="1">Kosovska 12</option>
              <option value="2">Kosovska 13</option>
              <option value="3">Kosovska 14</option>
            </select>
          </div>

          <div class="col-sm-6" style="width: 100%">
            <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">To</option>
              <option value="1">Jug Bogdana 12</option>
              <option value="2">Jug Bogdana 13</option>
              <option value="3">Jug Bogdana 14</option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 4vh">
          <div class="col-sm-6">Average time</div>

          <div class="col-sm-6">Price</div>
          <div class="row">
            <div class="col-sm-6">
              <div type="text" class="form-control mb-4" style="color: gray">
                Time
              </div>
            </div>

            <div class="col-sm-6">
              <div type="text" class="form-control mb-4" style="color: gray">
                Price
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 4vh">
          <div class="row">
            <div class="col-sm-6">
              <button
                id="registrationButton"
                class="btn btn-primary form-control"
                routerLink="['login']"
              >
                Confirm order
              </button>
            </div>

            <div class="col-sm-6">
              <button id="cancelButton" class="btn btn-primary form-control">
                Restore
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
