<div id="bg">
  <div id="containter">
    <div id="registration_title">
      <h1>Find route</h1>
      <form [formGroup]="rideForm" (ngSubmit)="createRide()">
       <div class="row">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="from"
                formControlName="from"
                placeholder="From"
                id="input"
                value="{{departure.address}}"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="to"
                formControlName="to"
                placeholder="To"
                id="input"
                value="{{destination.address}}"
              />
            </mat-form-field>
            <input
            formControlName="babies"
            type="checkbox"
            id="babies"
            style="width: 40%"
            />
            <label for="babies" style="width: 40%"> Babies allowed</label><br />
            <input
            formControlName="pets"
            type="checkbox"
            id="pets"
            style="width: 40%"
            />
            <label for="pets" style="width: 40%"> Pets allowed</label><br />
            <label for="vehicleType">Vehicle type</label>
              <select formControlName="type" name="type" class="form-control">
                <option value="VAN">Van</option>
                <option value="STANDARD">Standard</option>
                <option value="LUXURY">Luxury</option>
              </select>
            <div class="row" style="margin-top: 4vh">
              <div class="col-sm-6">Average time</div>

              <div class="col-sm-6">Price</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div type="text" class="form-control" style="color: gray">
                  {{estimatedValues.estimatedTimeInMinutes}}
                </div>
              </div>

              <div class="col-sm-6">
                <div type="text" class="form-control" style="color: gray">
                  {{estimatedValues.estimatedCost}}
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between end">
              <button type="button" mat-raised-button id="showRoute" (click)="getAssumption()">
                Calculate
              </button>
            </div>

            <div style="margin-top: 4vh">When do you want to take a ride?</div>
            <div class="row" style="margin-top: 1vh">
              <div class="col-sm-6">
                <label class="radiobtn"
                  ><input formControlName="time" type="radio" name="time" value="Now" />Now</label
                >
              </div>

              <div class="col-sm-6">
                <label class="radiobtn"
                  ><input
                    formControlName="time"
                    type="radio"
                    name="time"
                    value="Reservation"
                  />Reservation</label
                >
              </div>
            </div>

            <div>
              <input formControlName="reservation" type="time">
            </div>

            <div class="row" style="margin-top: 4vh">
              <div class="form-group">
                <button
                  id="save-btn"
                  type="submit"
                  class="btn form-control"
                >
                  Confirm
                </button>

                <button
                  id="cancel-btn"
                  class="btn form-control"
                  type="reset"
                  value="reset"
                >
                  Restore
                </button>
              </div>
            </div>
        </div>
      </form>
    </div>

    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>
