<div id="bg">
    <div id="containter">
        <div id="login_title">
            <h1>LogIn</h1>
            <p>Hello! Please fill out the form bellow to get started</p>
        </div>
        <div id="login_form">
            <div id="email">
                <label>Email</label>
                <input type="text" placeholder="name@example.com">
            </div>
            <div id="password">
                <label>Password</label>
                <input type="text" placeholder="min. 8 characters">
            </div>
            <div id="login">
                <button type="submit">LogIn</button>
            </div>
            <div id="signup">
                <label>No account?</label>
                <button type="button">SignUp</button>
            </div>
        </div>
    </div>
</div>