#bg {
    height: 100vh;
    background: url("../../../assets/images/carFAB.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

#containter{
    position: absolute;
    float: left;
    width: 50vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}

#login_title{
    text-align: center;
    padding: 40px;
}

#login_title h1{
    font-size: 40px;
}

#login_title p{
    padding: 10px;
    font-size: 25px;
}

#email, #password{
    display: flex;
}
