<div id="bg">
  <div id="containter">
    <div id="login_title">
      <h1>LogIn</h1>
      <p>Hello! Please fill out the form bellow to get started</p>
    </div>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          formControlName="email"
          [ngClass]="{
            'is-invalid': submitted && login.controls.email.errors
          }"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="submitted && login.controls.firstName.errors"
          class="text-danger"
        >
          <div *ngIf="submitted && login.controls.firstName.errors.required">
            Email is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          [ngClass]="{
            'is-invalid': submitted && login.controls.password.errors
          }"
          formControlName="password"
          type="password"
          class="form-control"
        />
        <div
          *ngIf="submitted && login.controls.password.errors"
          class="text-danger"
        >
          <div *ngIf="submitted && login.controls.password.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          id="loginButton"
          class="btn btn-primary form-control loginButton"
          [routerLink]="['/map']"
        >
          LogIn-passenger</button
        ><button
          id="loginButton"
          class="btn btn-primary form-control loginButton"
          [routerLink]="['/driver-profile']"
        >
          LogIn-driver</button
        ><button
          id="loginButton"
          class="btn btn-primary form-control loginButton"
          [routerLink]="['/map-admin']"
        >
          LogIn-admin
        </button>
      </div>
      <div class="form-group" class="noAccount">
        <label for="noaccount">No account?</label>
      </div>
      <div class="form-group">
        <button
          id="signUpButton"
          class="btn btn-primary form-control signUpButton"
          [routerLink]="['/registration']"
        >
          SignUp
        </button>
      </div>
    </form>
  </div>
</div>
