<div class="bg">
  <div id="profile-container">
    <div id="profile-picture"></div>
    <br />
    <h1 style="margin-top: 2vh">My profile</h1>
    <div id="profile-info">
      <fieldset>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <p>{{passenger.name}}</p>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <p>{{passenger.surname}}</p>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <p>{{passenger.telephoneNumber}}</p>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <p>{{passenger.address}}</p>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <p>{{passenger.email}}</p>
        </div>
        <div class="form-group">
          <button class="btn" id="save-btn" [routerLink]="['/passenger-profile-edit']">Edit</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
